/* Import Fonts & CSS Files */
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600&amp;display=swap");
@import url(bootstrap.min.css);
@import url(themify-icons.css);

/*  Basee CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f6f9;
    color: #718096;
    font-weight: 400;
    font-family: "Overpass", sans-serif;
    font-size: 14px;
}

h6 {
    line-height: 1.6;
    color: #2d3748;
    font-weight: 600;
    font-family: "Overpass", sans-serif;
}

p {
    color: #718096;
    line-height: 1.7;
    font-size: 14px;
    font-weight: 400;
    font-family: "Overpass", sans-serif;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: 0 solid transparent;
    font-family: "Overpass", sans-serif;
}

ul {
    margin: 0;
}

ul li {
    list-style: none;
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.bg-primary {
    background-color: #0a6ee3 !important;
}

.bg-danger {
    background-color: #fa5c7c !important;
}

.bg-success {
    background-color: #00d97e !important;
}

.bg-success {
    background-color: #1dc9b7 !important;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.dropdown-item {
    font-size: 13px;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    border-color: transparent;
}

.dropdown-item:active {
    background-color: transparent;
}

.close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}

.dropdown-menu {
    z-index: 55;
}

.dropdown {
    position: relative;
}

/* Prevent scrollbars to appear when waves go out of bound */

/* The circle */

/* the 'wave', same shape and size as its parent */

/*
  Animate!
  NOTE: add browser prefixes where needed.
*/

/*  Bootstraping CSS */
.page-body-wrapper {
    min-height: calc(100vh - 60px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
}

.link-icon {
    width: 18px;
    margin-right: 8px;
    height: 18px;
}

.main-panel {
    transition: width 0.25s ease, margin 0.25s ease;
    width: calc(100% - 255px);
    min-height: calc(100vh - 60px);
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

@media (max-width: 1199px) {
    .main-panel {
        margin-left: 0;
        width: 100%;
    }
}

.content-wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    width: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

@media (max-width: 767px) {
    .content-wrapper {
        padding-top: 30px;
        padding-left: 0;
        padding-right: 0;
    }
}

.notification-thumbnail .preview-icon {
    height: 30px;
    width: 30px;
    display: inline-block;
    line-height: 30px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    margin-right: 15px;
    font-size: 14px;
}

.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #eef5f9;
}

.profile-top a i {
    color: #273668;
    font-size: 16px;
}

.notification-item-content h6 {
    margin-bottom: 2px;
    font-size: 14px;
}

.notification-item-content p {
    font-size: 13px;
}

.top-navbar-area.navbar-nav.navbar-nav-right {
    display: flex !important;
    flex-direction: row;
    align-items: center;
}

.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right .nav-item {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    align-self: stretch !important;
}

.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
    align-items: stretch !important;
}

/* Sidebar */
.sidebar {
    min-height: calc(100vh - 60px);
    background: #f8f8f8;
    font-weight: 300;
    padding: 0;
    width: 255px;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    /* -ms-transition: width 0.25s ease, background 0.25s ease; */
    /* box-shadow: 6px 16px 31px -18px #b7bcd1; */
    /* -webkit-box-shadow: 6px 16px 31px -18px #b7bcd1; */
    /* -moz-box-shadow: 6px 16px 31px -18px #b7bcd1; */
    /* -ms-box-shadow: 6px 16px 31px -18px #b7bcd1; */
}

.sidebar .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 60px;
}

.sidebar .nav .nav {
    margin-bottom: 0;
}

.sidebar .nav .nav .nav-item {
    margin-bottom: 0;
}

.sidebar .nav .nav-item {
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    transition-property: background;
    -webkit-transition-property: background;
    font-size: 0.875rem;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;
}

.sidebar .nav .nav-item::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 2;
    height: 30px;
    width: 3px;
    transition-duration: 500ms;
    background-color: #0a6ee3;
    opacity: 0;
}

.sidebar .nav .nav-item:hover::after {
    opacity: 1;
}

.sidebar .nav.sub-menu .nav-item::after {
    display: none;
}

.sidebar .nav .nav-item .collapse {
    z-index: 999;
}

.sidebar .nav .nav-item .nav-link {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    white-space: nowrap;
    padding: 8px 30px;
    -webkit-transition-duration: 0.45s;
    -moz-transition-duration: 0.45s;
    -o-transition-duration: 0.45s;
    transition-duration: 0.45s;
    transition-property: color;
    -webkit-transition-property: color;
    font-weight: 400;
}

.sidebar .nav .nav-item .nav-link i {
    color: inherit;
}

.sidebar .nav .nav-item .nav-link i.ti-angle-right {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: auto;
    margin-right: 0;
    color: #293a6d;
}

.sidebar .nav .nav-item .nav-link i.ti-angle-right:before {
    content: "\e649";
    font-family: "themify";
    font-style: normal;
    display: block;
    font-size: 11px;
    line-height: 10px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.sidebar .nav .nav-item .nav-link .menu-title {
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
    font-weight: 700;
}

.sidebar .nav .nav-item:hover {
    opacity: 1;
}

.sidebar .nav:not(.sub-menu) {
    margin-top: .5rem;
}

.sidebar .nav:not(.sub-menu)>.nav-item {
    margin-top: 0;
}

.sidebar .nav:not(.sub-menu)>.nav-item>.nav-link {
    margin: 0;
}

.sidebar .nav:not(.sub-menu)>.nav-item:hover>.nav-link {
    background: transparent;
}

.sidebar .nav.sub-menu {
    margin-bottom: 0;
    margin-top: 0;
    list-style: none;
    padding: 10px 60px;
}

.sidebar .nav.sub-menu .nav-item {
    padding: 0;
    margin-bottom: 0;
}

.sidebar .nav.sub-menu .nav-item::before {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    margin-top: 1rem;
    border-radius: 50%;
    background: #8e95aa;
}

.sidebar .nav.sub-menu .nav-item .nav-link {
    color: #656565;
    padding: 0.625rem 1rem;
    position: relative;
    font-size: 15px;
    line-height: 1;
    height: auto;
    border-top: 0;
}

.sidebar .nav:not(.sub-menu) {
    margin-top: 1.45rem;
    margin-left: 0;
    margin-right: 0.375rem;
}

.sidebar .nav.sub-menu .nav-item .nav-link:hover {
    color: #000;
}

.sidebar .nav.sub-menu .nav-item:hover {
    background: transparent;
}

.sidebar {
    background: #fff;
}

.sidebar .nav .nav-item .nav-link {
    color: #293a6d;
}

.sidebar .nav .nav-item .nav-link i {
    color: inherit;
}

.sidebar .nav .nav-item .nav-link .menu-title {
    color: inherit;
}

.sidebar .nav:not(.sub-menu)>.nav-item:hover>.nav-link {
    color: #0a6ee3;
}

.sidebar .nav.sub-menu .nav-item .nav-link {
    color: #293a6d;
}

.sidebar .nav.sub-menu .nav-item .nav-link:before {
    color: #a4afbc;
}

.sidebar .nav.sub-menu .nav-item .nav-link:hover {
    color: #0a6ee3;
}

.sidebar .nav.sub-menu .nav-item:hover {
    background: transparent;
}

/* style for off-canvas menu*/
@media screen and (max-width: 1199px) {
    .sidebar-offcanvas {
        position: fixed;
        max-height: calc(100vh - 60px);
        top: 60px;
        bottom: 0;
        overflow: auto;
        left: -255px;
        -webkit-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }
}

/* Navbar */
.navbar {
    font-weight: 400;
    transition: background 0.25s ease;
    -webkit-transition: background 0.25s ease;
    -moz-transition: background 0.25s ease;
    -ms-transition: background 0.25s ease;
    /* Navbar color variations */
}

.navbar .navbar-brand-wrapper {
    background: #fff;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    width: 255px;
    height: 60px;
    padding: 0 2.1875rem;
    /* border-bottom: 1px solid #f2f2f2; */
    /* border-right: 1px solid #f2f2f2; */
}

.navbar .navbar-brand-wrapper .navbar-brand {
    color: #27367f;
    font-size: 1.5rem;
    margin-right: 0;
    padding: .25rem 0;
}

.navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
    display: none;
}

.navbar .navbar-brand-wrapper .navbar-brand:active,
.navbar .navbar-brand-wrapper .navbar-brand:focus,
.navbar .navbar-brand-wrapper .navbar-brand:hover {
    color: #1b2658;
}

.navbar .navbar-brand-wrapper .navbar-brand img {
    max-width: 100%;
    height: 20px;
    margin: auto;
    vertical-align: middle;
}

.navbar .navbar-brand-wrapper .brand-logo-mini {
    padding-left: 0;
    text-align: center;
}

.navbar .navbar-brand-wrapper .brand-logo-mini img {
    width: 30px;
    margin: auto;
}

.navbar .navbar-menu-wrapper {
    background: #fff;
    /* box-shadow: 1px 0 7px rgba(0, 0, 0, 0.05); */
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    color: #ffffff;
    padding-left: 1.75rem;
    padding-right: 1.75rem;
    width: calc(100% - 255px);
    height: 60px;
}

@media (max-width: 1199px) {
    .navbar .navbar-menu-wrapper {
        width: calc(100% - 70px);
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 480px) {
    .navbar .navbar-menu-wrapper {
        width: calc(100% - 55px);
        padding-left: 15px;
        padding-right: 15px;
    }

    .copywrite-text p {
        text-align: center;
    }
}

.navbar .navbar-menu-wrapper .navbar-toggler {
    border: 0;
    color: #0a6ee3;
    font-size: 18px;
    padding: 0;
}

@media (max-width: 1199px) {
    .navbar .navbar-menu-wrapper .navbar-toggler.navbar-toggler-right {
        color: #464dee;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 5px;
    }
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

@media (max-width: 480px) {
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item:last-child {
    margin-right: 0;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    color: #001737;
    font-size: 0.875rem;
    position: relative;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33px;
    flex: 0 0 33px;
    max-width: 33px;
    width: 33px;
    height: 33px;
    border-radius: 100%;
    -webkit-box-shadow: 4px 5px 6px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 4px 5px 6px 0px rgba(0, 0, 0, 0);
    box-shadow: 4px 5px 6px 0px rgba(0, 0, 0, 0);
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu {
    border: none;
    -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
    position: absolute;
    font-size: 0.9rem;
    margin-top: 0;
    right: 0;
    left: auto;
    top: 60px;
    padding: 0;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item {
    margin-bottom: 0;
    padding: .65rem 1.5rem;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown .dropdown-item i {
    font-size: 17px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown i {
    margin-right: .5rem;
    vertical-align: middle;
    font-size: 16px;
}

@media (max-width: 991px) {
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown {
        position: static;
    }

    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .navbar-dropdown {
        left: 20px;
        right: 20px;
        top: 60px;
        width: calc(100% - 40px);
    }
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator {
    position: relative;
    padding: 0;
    text-align: center;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator i {
    font-size: 1.25rem;
    margin-right: 0;
    vertical-align: middle;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator .count {
    position: absolute;
    right: 0;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #fd397a;
    top: -4px;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .count-indicator:after {
    display: none;
}

.navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right .nav-item.dropdown .dropdown-toggle:after {
    display: none;
}

@media (min-width: 992px) {
    .navbar .navbar-menu-wrapper .navbar-nav.navbar-nav-right {
        margin-left: auto;
    }
}

@media (max-width: 1199px) {
    .navbar {
        flex-direction: row;
    }

    .navbar .navbar-brand-wrapper {
        width: 70px;
        padding: 0 0;
    }

    .navbar .navbar-brand-wrapper .navbar-brand.brand-logo {
        display: none;
    }

    .navbar .navbar-brand-wrapper .navbar-brand.brand-logo-mini {
        display: inline-block;
    }
}

@media (max-width: 480px) {
    .navbar .navbar-brand-wrapper {
        width: 55px;
        padding: 0 0;
    }

    .navbar .navbar-brand-wrapper .brand-logo-mini {
        padding-top: 0px;
    }
}

/* Layouts */

.copywrite-text {
    text-align: center !important;
    margin: 0 auto;
    margin-top: 30px;
}